body {
    background: #E7E7E7;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    font-family: "Poppins", sans-serif;

    
}




/*section 01*/

  #backSection {
    background: #E7E7E7;
    min-width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

  }

  
  div#backBtn {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #D9D9D9;
    margin-top: 17px;
    margin-left: 29px;
    border-radius: 30px;
    border: 3px solid black;
    width: 137px;
    position: relative;
    z-index: 400;
}

div#backBtn p {
    margin-top:7px;
    margin-bottom: 7px;
}

#backBtn {
    transition: transform 400ms ease-in-out, background 1s ease-in-out;
    cursor: context-menu;

}

#backBtn:hover {
    opacity: .9;
    background: #d9d9d985;
    transform: scale(.9);

}

/**/


/*section 02*/

  #homeSection{
    background: #E7E7E7;
    min-width: 80%;
    height: 100vh;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  video::-webkit-media-controls {
    display:none !important;
  }

  video {
    width: 317px;
    margin-top: -150px;
    border: none;
    margin-bottom: 13px;
}

#survey {
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: opacity .8s ease-in-out;
    max-width: 500px;
    max-height: 100px;
}


/**/

/*section 03*/

  #btnSection{
    background: #E7E7E7;
    min-width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

  }

  
#langBtn {
    background: #D9D9D9;
    width: 50px;
    height: 120px;
    border: 5px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    transform: scale(0.8);
  
}

#lBtn{
  background : #00F37F;
  border:5px solid black;
  padding:12px 14px!important;
  border-radius:80px;
  margin-top:-4px;
  font-size: 20px;
  font-weight: 500;
  cursor: context-menu;
}




#mode {
    background: #D9D9D9;
    width: 50px;
    height: 120px;
    border: 5px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    transform: scale(0.8);
  
}

#lightD{
  background : #00F37F;
  border:5px solid black;
  padding:12px 14px!important;
  border-radius:80px;
  margin-top:-4px;
  cursor: context-menu;
}

#lightD i {
    font-size: 29px;
}

/**/

/*animations*/

@keyframes LBtnActivate {
    0%{
        transform: translateY(0px);
    }
    
    100%{
        transform: translateY(67px);
    }
}

@keyframes LBtnDeactivate {
    0%{
        transform: translateY(67px);
    }
    100%{
        transform: translateY();
    }
}
